
data/complete/2020/dataComplete2020_batch01.json
data/complete/2020/dataComplete2020_batch02.json
data/complete/2020/dataComplete2020_batch03.json
data/complete/2020/dataComplete2020_batch04.json
data/complete/2020/dataComplete2020_batch05.json
data/complete/2020/dataComplete2020_batch06.json
data/complete/2020/dataComplete2020_batch07.json
data/complete/2020/dataComplete2020_batch08.json
data/complete/2020/dataComplete2020_batch09.json
data/complete/2020/dataComplete2020_batch10.json
data/complete/2020/dataComplete2020_batch11.json
data/complete/2021/dataComplete2021_batch01.json
data/complete/2021/dataComplete2021_batch02.json
data/complete/2021/dataComplete2021_batch03.json
data/complete/2021/dataComplete2021_batch04.json
data/complete/2021/dataComplete2021_batch05.json
data/complete/2021/dataComplete2021_batch06.json
.idea/DataScience.iml
.idea/misc.xml
__pycache__/__init__.cpython-39.pyc
.idea/DataScience.iml
.idea/misc.xml
.idea/DataScience.iml
.idea/misc.xml
.idea/misc.xml
.idea/DataScience.iml
.idea/misc.xml
flatten-tool/
data/
__pycache__/
utilities/